:root {
    --background: #F0F0F0;
    --text: #222222;
    --text-80: #4D4D4D;
    --text-70: #5F5F5F;
    --hover: #E9E9E9;
    --card-bg: #FFFFFF;
    --card-hover-shadow: #CCCCCC;
    --link-text: #222222;
    --link-background: #7be4f7a2;
}

body {
    margin: 0;
    background-color: var(--background);
    color: var(--text);
}

.post-detail p, li {
    font-size: 18px !important;
    line-height: 28px;
    word-wrap: break-word;
}

.post-detail li {
    margin-bottom: 20px;
}

a {
    color: var(--link-text);
    background-color: var(--link-background);
    padding: 0 5px;
}

/* Mobile - 375px */
.container {
    max-width: 90%;
    margin: 0 auto;
}

@media only screen and (min-width: 600px) {
    .container {
        max-width: 80%;
    }

    .post-detail p, li {
        font-size: 20px !important;
        line-height: 32px;
    }
}

@media only screen and (min-width: 1000px) {
    .container {
        max-width: 800px;
    }
}

@media only screen and (min-width: 1440px) {
    .container {
        max-width: 1000px;
    }
}

@media only screen and (min-width: 1000px) {
    .post-detail {
        max-width: 680px;
        margin: auto;
    }
}

/* Post detail */

.post-detail {
    padding-bottom: 50px;
}

.post-detail h1 {
    font-size: 36px;
    margin-bottom: 5px;
}

.post-detail figure {
    margin: 0;
}

.post-detail img {
    width: 100%;
    border-radius: 5px;
}

.post-detail .date-container {
    display: flex;
    gap: 10px;
    align-items: center;
}

.post-detail .head {
    margin-bottom: 50px;
}

@media only screen and (min-width: 1000px) {
    .post-detail img {
        width: 100%;
        object-fit: cover;
    }
}