body {
    margin: 0;
    background-color: #F0F0F0;
    color: #222222;
}

/* Mobile - 375px */
.container {
    max-width: 90%;
    margin: 0 auto;
}

@media only screen and (min-width: 600px) {
    .container {
        max-width: 80%;
    }
}

@media only screen and (min-width: 1000px) {
    .container {
        max-width: 800px;
    }
}

@media only screen and (min-width: 1440px) {
    .container {
        max-width: 1000px;
    }
}